.piece {
  text-align: center;
}

#board {
  margin: auto;
  text-align: center;
}


.X, .O {
  padding: 3rem;
  font-size: 24px;
  font-weight: 700;
  width: 100px;
  height: 100px;
}

.empty {
  height: 100px;
  width: 102px;
}

/* .O {
  margin-right: 2px;
} */

.X {
  margin-left: 2px;
}

.row {
  text-align: center;
  margin: auto;
}

.piece {
  cursor: pointer;
}

.piece:hover {
  background-color: lightgray;
}

